.goHome {
  .homeBtn {
    width: 100%;
    padding-top: 12px;
    background-color: #000;
    border-radius: 50px;
    color: #fff;
    border-color: #000;
  }
  .adm-space-item {
    margin-right: 4px;
  }
  .adm-floating-bubble-button {
    z-index: 9999;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px #fff; 
  }
}